@font-face {
  font-family: "jf-openhuninn";
  src: local("jf-openhuninn"), url("../font/jf-openhuninn-2.0.woff") format("woff"), url("../font/jf-openhuninn-2.0.ttf") format("opentype"), url("../font/jf-openhuninn-2.0.eot") format("embedded-opentype");
}
@font-face {
  font-family: "Nikumaru Font";
  src: local("Nikumaru Font"), url("../font/Nikumaru Font.woff") format("woff"), url("../font/Nikumaru Font.ttf") format("opentype"), url("../font/Nikumaru Font.eot") format("embedded-opentype");
}
* {
  box-sizing: border-box;
  font-family: "jf-openhuninn";
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #FFF5D6;
}

.container {
  max-width: 1920px;
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

#mouse-circle {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 10px solid #FF9855;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 99;
  pointer-events: none;
}

.ham-btn {
  right: 3%;
  top: 5%;
  position: fixed;
  z-index: 9;
  cursor: pointer;
}
.ham-btn .checked {
  width: 102px;
  height: 96px;
  display: block;
}
.ham-btn .notchecked {
  width: 101px;
  height: 96px;
  display: none;
}

@media (max-width: 1200px) {
  .ham-btn .checked {
    width: 70px;
    height: 65px;
  }
  .ham-btn .notchecked {
    width: 70px;
    height: 65px;
  }
}
@media (max-width: 576px) {
  .ham-btn {
    right: 18px;
    top: 18px;
  }
  .ham-btn .checked {
    width: 45px;
    height: 40px;
  }
  .ham-btn .notchecked {
    width: 45px;
    height: 40px;
  }
}
.list {
  width: 362px;
  height: 1091px;
  background-color: #fff;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 8;
  display: flex;
  justify-content: center;
  transition-duration: 1s;
}
.list .lists {
  margin-top: 260px;
  display: flex;
  flex-direction: column;
}
.list .lists a {
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  color: #000;
  margin-bottom: 100px;
}
.list .lists a:hover {
  color: #FF9855;
}

@media (max-width: 1200px) {
  .list {
    height: 100vh;
  }
  .list .lists {
    margin-top: unset;
    justify-content: center;
    gap: 60px;
  }
  .list .lists a {
    font-size: 24px;
    margin-bottom: unset;
  }
}
@media (max-width: 576px) {
  .list {
    width: 100%;
  }
}
.ham-menu #ham-switch {
  display: none;
}
.ham-menu #ham-switch:checked + .ham-btn .checked {
  display: none;
}
.ham-menu #ham-switch:not(:checked) + .ham-btn .checked {
  display: block;
}
.ham-menu #ham-switch:checked + .ham-btn .notchecked {
  display: block;
}
.ham-menu #ham-switch:not(:checked) + .ham-btn .notchecked {
  display: none;
}
.ham-menu #ham-switch:checked ~ .list {
  transform: translateX(0px);
}
.ham-menu #ham-switch:not(:checked) ~ .list {
  transform: translateX(362px);
}
@media (max-width: 576px) {
  .ham-menu #ham-switch:not(:checked) ~ .list {
    transform: translateX(100%);
  }
}

#intro {
  width: 100%;
  height: 100vh;
  background-color: #FFF5D6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#intro .title-area {
  position: relative;
}
#intro .title-area .vector-star {
  width: 160px;
  height: 160px;
  position: absolute;
  left: -12%;
  top: -5%;
  animation: vector 5s infinite;
  z-index: 1;
}
#intro .title-area .vector-circle {
  width: 125px;
  height: 125px;
  position: absolute;
  right: -5%;
  bottom: -50%;
  animation: vector 5s -2s infinite;
  z-index: 1;
}
#intro .title-area .title {
  position: relative;
  font-family: "Nikumaru Font";
  font-size: 160px;
  animation: fade-in 4s;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 5;
}
#intro .subtitle {
  font-size: 28px;
  margin-top: 75px;
  animation: fade-in 4s 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 3;
}
@keyframes fade-in {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#intro .cloud {
  width: 100%;
  height: 40%;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-image: url(../picture/cloud.png);
  background-position: center center;
  background-repeat: no-repeat;
}
#intro .arrow-bt,
#intro .arrow-top {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 50px;
}
#intro .arrow-bt {
  bottom: 20px;
  animation: up-down 1s infinite;
}
#intro .arrow-top {
  bottom: 50px;
  transform: translate(-50%, -50%) scale(0.8);
  animation: up-down-small 1s infinite;
}
@keyframes up-down {
  50% {
    transform: translate(-50%, -40%);
  }
}
@keyframes up-down-small {
  50% {
    transform: translate(-50%, -40%) scale(0.8);
  }
}
@keyframes vector {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(0%, -50%);
  }
}

@media (max-width: 1200px) {
  #intro .title-area .vector-star {
    width: 120px;
    height: 120px;
  }
  #intro .title-area .vector-circle {
    width: 90px;
    height: 90px;
  }
  #intro .title-area .title {
    font-size: 100px;
  }
  #intro .subtitle {
    font-size: 20px;
    margin-top: 30px;
  }
  #intro .arrow-bt,
  #intro .arrow-top {
    width: 48px;
    height: 30px;
  }
  #intro .arrow-bt {
    bottom: 20px;
  }
  #intro .arrow-top {
    bottom: 35px;
  }
}
@media (max-width: 576px) {
  #intro .title-area .vector-star {
    width: 60px;
    height: 60px;
  }
  #intro .title-area .vector-circle {
    width: 40px;
    height: 40px;
  }
  #intro .title-area .title {
    font-size: 48px;
  }
  #intro .subtitle {
    font-size: 16px;
    margin-top: 20px;
  }
  #intro .arrow-bt,
  #intro .arrow-top {
    width: 32px;
    height: 20px;
  }
  #intro .arrow-bt {
    bottom: 10px;
  }
  #intro .arrow-top {
    bottom: 25px;
  }
}
#explore {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}
#explore .gamebox {
  max-width: 1280px;
  max-height: 720px;
  height: 100%;
  background-color: #aaa;
  position: relative;
}
#explore .gamebox .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#explore .gamebox .mask .title {
  font-size: 80px;
  position: relative;
}
#explore .gamebox .mask .title svg {
  position: absolute;
  right: -10%;
  bottom: -30%;
}
#explore .gamebox .mask .text {
  font-size: 25px;
}
#explore .gamebox .mask-none {
  display: none;
}
#explore .gamebox .btn-start {
  margin-top: 10px;
  width: 188px;
  height: 70px;
  border-radius: 60px;
  background-color: #88ACFF;
  line-height: 70px;
  font-size: 28px;
  color: #F7F7F7;
  padding: 0px 60px;
  cursor: pointer;
}

#introduce {
  width: 100%;
}
#introduce .plan .plan-top {
  width: 100%;
  padding: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#introduce .plan .plan-top .plan-info {
  margin-right: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#introduce .plan .plan-top .plan-info .title {
  font-size: 40px;
  align-self: flex-start;
}
#introduce .plan .plan-top .plan-info .plan-pic-s {
  display: none;
  margin: 36px auto 0px;
  width: 100%;
  background-image: url(../picture/planpic.png);
  background-position: 60% center;
  background-repeat: no-repeat;
  background-size: 150%;
}
#introduce .plan .plan-top .plan-info .text01 {
  width: 100%;
  margin-top: 90px;
  font-size: 50px;
  line-height: 1.5;
}
#introduce .plan .plan-top .plan-info .text02 {
  width: 100%;
  margin-top: 77px;
  font-size: 18px;
  line-height: 1.2;
}
#introduce .plan .plan-top .plan-info .btn-more {
  width: 145px;
  height: 40px;
  background-color: #88ACFF;
  border-radius: 60px;
  margin-top: 80px;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  color: #F7F7F7;
  cursor: pointer;
}
#introduce .plan .plan-top .plan-info .btn-more:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
#introduce .plan .plan-top .plan-pic {
  width: 50%;
  min-width: 490px;
  height: 683px;
  background-image: url(../picture/planpic.png);
  background-position: 60% center;
  background-repeat: no-repeat;
  background-size: 150%;
}
#introduce .plan .plan-bt {
  width: 100%;
  height: 460px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
#introduce .plan .plan-bt .content {
  width: 960px;
  height: 291px;
  display: flex;
  justify-content: space-between;
}
#introduce .plan .plan-bt .content .card {
  width: 196px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#introduce .plan .plan-bt .content .card .icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #aaa;
}
#introduce .plan .plan-bt .content .card .num {
  width: 100%;
  height: 55px;
  background-color: #ECECEC;
}
#introduce .plan .plan-bt .content .card .text {
  width: 100%;
  height: 46px;
  background-color: #ECECEC;
}
@media (max-width: 1330px) {
  #introduce .plan .plan-top .plan-info .title {
    font-size: 30px;
  }
  #introduce .plan .plan-top .plan-info .text01 {
    font-size: 40px;
  }
  #introduce .plan .plan-top .plan-pic {
    height: 500px;
    min-width: none;
  }
}
@media (max-width: 1200px) {
  #introduce .plan .plan-top {
    padding: 60px;
  }
  #introduce .plan .plan-top .plan-info {
    margin-right: 60px;
  }
  #introduce .plan .plan-top .plan-info .title {
    font-size: 30px;
    align-self: flex-start;
  }
  #introduce .plan .plan-top .plan-info .text01 {
    margin-top: 90px;
    font-size: 30px;
  }
  #introduce .plan .plan-top .plan-info .text02 {
    margin-top: 77px;
    font-size: 15px;
  }
  #introduce .plan .plan-top .plan-pic {
    height: 400px;
  }
}
@media (max-width: 992px) {
  #introduce .plan .plan-top .plan-info {
    margin: unset;
    width: 80%;
  }
  #introduce .plan .plan-top .plan-info .title {
    font-size: 40px;
  }
  #introduce .plan .plan-top .plan-info .plan-pic-s {
    width: 500px;
    height: 420px;
    display: block;
  }
  #introduce .plan .plan-top .plan-info .text01 {
    width: 100%;
    margin-top: 40px;
    line-height: 1.2;
  }
  #introduce .plan .plan-top .plan-info .text02 {
    margin-top: 20px;
    line-height: 1.2;
  }
  #introduce .plan .plan-top .plan-info .btn-more {
    align-self: flex-start;
  }
  #introduce .plan .plan-top .plan-pic {
    display: none;
  }
}
#introduce .webStory {
  width: 100%;
  height: 3908px;
  background-color: #88ACFF;
  position: relative;
  text-align: center;
}
#introduce .webStory .storyRoad {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}

#introduce .webStory {
  width: 100%;
  height: 3917px;
  background-color: #88ACFF;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12%;
}
#introduce .webStory .card-m {
  display: flex;
  justify-content: center;
  gap: 45px;
}
#introduce .webStory .card-m .model-pic {
  width: 345px;
  height: 345px;
}
#introduce .webStory .card-m .text-area {
  color: #F7F7F7;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#introduce .webStory .card-m .text-area .title {
  font-size: 40px;
}
#introduce .webStory .card-m .text-area p {
  width: 100%;
  font-size: 25px;
}

#aboutUs {
  width: 100%;
  height: 692px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
}
#aboutUs .title {
  font-size: 40px;
}
#aboutUs .cards-team {
  margin-top: 133px;
  width: 1378px;
  height: 315px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#aboutUs .cards-team .card {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#aboutUs .cards-team .card .pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #88ACFF;
  overflow: hidden;
}
#aboutUs .cards-team .card .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#aboutUs .cards-team .card .pic-1 {
  background-color: #FF9855;
}
#aboutUs .cards-team .card .name {
  font-size: 25px;
}
#aboutUs .cards-team .card .skill {
  font-size: 18px;
}
#aboutUs .cards-team .card .btn-aboutme {
  font-size: 15px;
  border-radius: 20px;
  padding: 8px 13px;
  background-color: #88ACFF;
  color: #F7F7F7;
  cursor: pointer;
}
#aboutUs .cards-team .card .btn-aboutme:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

#message {
  width: 100%;
  height: 807px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
}
#message .title {
  font-size: 40px;
}
#message .board {
  margin-top: 60px;
  width: 905px;
  height: 562px;
  background-color: #fff;
  overflow: hidden;
}

.totop {
  background-color: #FF9855;
  width: 190px;
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 7;
  text-align: center;
  border-radius: 40px;
  color: #F7F7F7;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  display: none;
}
.totop svg {
  fill: #F7F7F7;
}

.totop:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  background-color: #F7F7F7;
  color: #FF9855;
}
.totop:hover svg {
  fill: #FF9855;
}

#footer {
  width: 100%;
  height: 113px;
  background-color: #FFF5D6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
#footer .btn-link {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
#footer .btn-link:hover {
  color: #FF9855;
}/*# sourceMappingURL=index.css.map */