#loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #FFF5D6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.loader-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.load-pic {
    display: flex;
}

.img-chen {
    animation: show-up01 2s linear infinite alternate-reverse;
    opacity: 0;
}

.img-tong {
    animation: show-up02 2s linear infinite alternate-reverse;
    opacity: 0;
}

.img-ying {
    animation: show-up03 2s linear infinite alternate-reverse;
    opacity: 0;
}

.img-rong {
    animation: show-up04 2s linear infinite alternate-reverse;
    opacity: 0;
}

@keyframes show-up01 {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
    
}
@keyframes show-up02 {
    0% {
        opacity: 0;
    }
    24% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
    
}
@keyframes show-up03 {
    0% {
        opacity: 0;
    }
    49%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
    
}
@keyframes show-up04 {
    0% {
        opacity: 0;
    }
    74%{
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
    
}


.load-text {
    border-right: 5px solid #FF9855;
    width: 0;
    height: 85px;
    font-size: 80px;
    color: #FF9855;
    font-family: 'Nikumaru Font';
    overflow: hidden;
    animation: loading 2s infinite alternate;
}

@keyframes loading {
    100% {
        width: 60%;
    }
}
@media (max-width: 1200px) {
    .loader-content{
        gap:10px;
    }
}
@media (max-width: 992px) {
    .loader-content{
        gap:unset;
    }
    .loader-content .load-pic{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 576px){
    .img-chen{
        width: 100px;
        object-fit: cover;
    }
    .img-tong{
        width: 100px;
        object-fit: cover;
    }
    .img-ying{
        width: 100px;
        object-fit: cover;
    }
    .img-rong{
        width: 100px;
        object-fit: cover;
    }
    .load-text {
        border-right: 3px solid #FF9855;
        height: 40px;
        font-size: 36px;
    }
}
@media (max-width: 450px){
    .img-chen{
        width: 80px;
    }
    .img-tong{
        width: 80px;
    }
    .img-ying{
        width: 80px;
    }
    .img-rong{
        width: 80px;
    }
    .load-text {
        border-right: 2px solid #FF9855;
        height: 36px;
        font-size: 30px;
    }
}
@media (max-width: 375px){
    .img-chen{
        width: 50px;
    }
    .img-tong{
        width: 50px;
    }
    .img-ying{
        width: 50px;
    }
    .img-rong{
        width: 50px;
    }
    .load-text {
        border-right: 1px solid #FF9855;
        height: 24px;
        font-size: 18px;
    }
}