@font-face {
    font-family: 'jf-openhuninn';
    src: local("jf-openhuninn"),
        url('../font/jf-openhuninn-2.0.woff') format("woff"),
        url('../font/jf-openhuninn-2.0.ttf') format("opentype"),
        url('../font/jf-openhuninn-2.0.eot') format("embedded-opentype");
}

@font-face {
    font-family: 'Nikumaru Font';
    src: local("Nikumaru Font"),
        url('../font/Nikumaru\ Font.woff') format("woff"),
        url('../font/Nikumaru\ Font.ttf') format("opentype"),
        url('../font/Nikumaru\ Font.eot') format("embedded-opentype");
}

* {
    box-sizing: border-box;
    font-family: "jf-openhuninn";
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: #FFF5D6;
}

.container {
    max-width: 1920px;
    width: 100%;
    // background-color: #aaa;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#mouse-circle {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: 10px solid #FF9855;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 99;
    //讓滑鼠還是可以按到按鈕
    pointer-events: none;
}

.ham-btn {
    right: 3%;
    top: 5%;
    position: fixed;
    z-index: 9;
    cursor: pointer;

    .checked {
        width: 102px;
        height: 96px;
        display: block;
    }

    .notchecked {
        width: 101px;
        height: 96px;
        display: none;
    }
}

@media (max-width: 1200px) {
    .ham-btn {
        .checked {
            width: 70px;
            height: 65px;
        }

        .notchecked {
            width: 70px;
            height: 65px;
        }
    }
}

@media (max-width: 576px) {
    .ham-btn {
        right: 18px;
        top: 18px;

        .checked {
            width: 45px;
            height: 40px;
        }

        .notchecked {
            width: 45px;
            height: 40px;
        }
    }
}

.list {
    width: 362px;
    height: 1091px;
    background-color: #fff;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 8;
    display: flex;
    justify-content: center;
    transition-duration: 1s;

    .lists {
        margin-top: 260px;
        display: flex;
        flex-direction: column;

        a {
            text-align: center;
            text-decoration: none;
            font-size: 35px;
            color: #000;
            margin-bottom: 100px;
        }

        a:hover {
            color: #FF9855;
        }
    }

}

@media (max-width: 1200px) {
    .list {
        height: 100vh;

        .lists {
            margin-top: unset;
            justify-content: center;
            gap: 60px;

            a {
                font-size: 24px;
                margin-bottom: unset;
            }
        }
    }
}

@media (max-width: 576px) {
    .list {
        width: 100%;
    }
}

//漢堡條//
.ham-menu {
    #ham-switch {
        display: none;
    }

    #ham-switch:checked+.ham-btn .checked {
        display: none;
    }

    #ham-switch:not(:checked)+.ham-btn .checked {
        display: block;
    }

    #ham-switch:checked+.ham-btn .notchecked {
        display: block;
    }

    #ham-switch:not(:checked)+.ham-btn .notchecked {
        display: none;
    }

    #ham-switch:checked~.list {
        transform: translateX(0px);
    }

    #ham-switch:not(:checked)~.list {
        transform: translateX(362px);

        @media (max-width: 576px) {
            transform: translateX(100%);
        }
    }

}

#intro {
    width: 100%;
    height: 100vh;
    background-color: #FFF5D6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .title {
        font-family: "Nikumaru Font";
        font-size: 160px;
        animation: fade-in 4s;
        animation-fill-mode: forwards;
        opacity: 0;
        z-index: 3;
    }

    .subtitle {
        font-size: 28px;
        margin-top: 75px;
        animation: fade-in 4s 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        z-index: 3;
    }

    @keyframes fade-in {
        0% {
            transform: translateY(-80px);
            opacity: 0;
        }

        50% {
            transform: translateY(0px);
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    .cloud {
        width: 100%;
        height: 40%;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-image: url(../picture/白雲.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    svg {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .arrow-bt {
        bottom: 2%;
        animation: up-down 1s infinite;
    }

    .arrow-top {
        bottom: 5%;
        transform: translate(-50%, -50%) scale(0.8);
        animation: up-down-small 1s infinite;
    }

    @keyframes up-down {
        50% {
            transform: translate(-50%, -40%);
        }
    }

    @keyframes up-down-small {
        50% {
            transform: translate(-50%, -40%) scale(0.8);
        }
    }

    .vector-star {
        position: absolute;
        left: 23%;
        top: 42%;
        animation: vector 5s infinite;
    }

    .vector-circle {
        position: absolute;
        left: 75%;
        top: 55%;
        animation: vector 5s -2s infinite;
    }


    @keyframes vector {
        0% {
            transform: translate(0px, 0px);
        }

        50% {
            transform: translate(0px, -100px);
        }
    }
}

@media (max-width: 1200px) {
    #intro {
        .title {
            font-size: 100px;
        }

        .subtitle {
            font-size: 20px;
            margin-top: 30px;
        }
    }
}

@media (max-width: 576px) {
    #intro {
        .title {
            font-size: 40px;
        }

        .subtitle {
            font-size: 12px;
            margin-top: 40px;
        }
    }
}

#explore {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;

    .gamebox {
        max-width: 1280px;
        max-height: 720px;
        height: 100%;
        background-color: #aaa;
        position: relative;

        .mask {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(5px);
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;

            .title {
                font-size: 80px;
                position: relative;

                svg {
                    position: absolute;
                    right: -10%;
                    bottom: -30%;
                }
            }

            .text {
                font-size: 25px;
            }
        }

        .mask-none {
            display: none;
        }

        .btn-start {
            margin-top: 10px;
            width: 188px;
            height: 70px;
            border-radius: 60px;
            background-color: #88ACFF;
            line-height: 70px;
            font-size: 28px;
            color: #F7F7F7;
            padding: 0px 60px;
            cursor: pointer;
        }
    }
}

#introduce {
    width: 100%;

    .plan {
        .plan-top {
            width: 100%;
            padding: 100px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            .plan-info {
                margin-right: 120px;
                width: 720px;
                height: 574px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .title {
                    font-size: 40px;
                    align-self: flex-start;
                }

                .text {
                    width: 600px;
                }

                .text01 {
                    margin-top: 90px;
                    font-size: 50px;
                }

                .text02 {
                    margin-top: 77px;
                    font-size: 18px;
                }

                .btn-more {
                    width: 145px;
                    height: 40px;
                    background-color: #88ACFF;
                    border-radius: 60px;
                    margin-top: 80px;
                    padding: 10px 40px;
                    font-size: 15px;
                    cursor: pointer;
                }

                .btn-more:hover {
                    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
                }
            }

            .plan-pic {
                width: 823px;
                height: 683px;
                // background-color: #aaa;
                background-image: url(../picture/planpic.png);
                background-position: 60% center;
                background-repeat: no-repeat;
                background-size: 150%;
            }
        }

        .plan-bt {
            width: 100%;
            height: 460px;
            background-color: #F7F7F7;
            display: flex;
            justify-content: center;
            align-items: center;

            .content {
                width: 960px;
                height: 291px;
                display: flex;
                justify-content: space-between;

                .card {
                    width: 196px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    .icon {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        background-color: #aaa;
                    }

                    .num {
                        width: 100%;
                        height: 55px;
                        background-color: #ECECEC;
                    }

                    .text {
                        width: 100%;
                        height: 46px;
                        background-color: #ECECEC;
                    }

                }
            }
        }
    }

    .webStory {
        width: 100%;
        height: 3908px;
        background-color: #88ACFF;
        position: relative;
        text-align: center;

        .storyRoad {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            transform: translateX(-50%);
        }
    }
}


#introduce .webStory {
    width: 100%;
    height: 3917px;
    background-color: #88ACFF;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12%;

    .card-m {
        display: flex;
        justify-content: center;
        gap: 45px;

        .model-pic {
            width: 345px;
            height: 345px;
            // background-color: #aaa;
        }

        .text-area {
            color: #F7F7F7;
            text-align: left;
            letter-spacing: 1px;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                font-size: 40px;
            }

            p {
                width: 100%;
                font-size: 25px;
            }
        }
    }
}

#aboutUs {
    width: 100%;
    height: 692px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;

    .title {
        font-size: 40px;
    }

    .cards-team {
        margin-top: 133px;
        width: 1378px;
        height: 315px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card {
            width: 200px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .pic {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background-color: #88ACFF;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .name {
                font-size: 25px;
            }

            .skill {
                font-size: 18px;
            }

            .btn-aboutme {
                font-size: 15px;
                border-radius: 20px;
                padding: 8px 13px;
                background-color: #88ACFF;
                color: #F7F7F7;
                cursor: pointer;
            }

            .btn-aboutme:hover {
                box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

#message {
    width: 100%;
    height: 807px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;

    .title {
        font-size: 40px;
    }

    .board {
        margin-top: 60px;
        width: 905px;
        height: 562px;
        background-color: #fff;
        overflow: hidden;
    }

}

.totop {
    background-color: #FF9855;
    width: 190px;
    position: fixed;
    right: 3%;
    bottom: 2%;
    z-index: 7;
    text-align: center;
    border-radius: 40px;
    color: #F7F7F7;
    font-size: 28px;
    padding: 10px;
    cursor: pointer;
    display: none;

    svg {
        fill: #F7F7F7;
    }
}

.totop:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    background-color: #F7F7F7;
    color: #FF9855;

    svg {
        fill: #FF9855;
    }
}

#footer {
    width: 100%;
    height: 113px;
    background-color: #FFF5D6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .btn-link {
        font-size: 18px;
        color: #000;
        text-decoration: none;
    }

    .btn-link:hover {
        color: #FF9855;
    }
}