@font-face {
    font-family: 'jf-openhuninn';
    src: local("jf-openhuninn"),
        url('../font/jf-openhuninn-2.0.woff') format("woff"),
        url('../font/jf-openhuninn-2.0.ttf') format("opentype"),
        url('../font/jf-openhuninn-2.0.eot') format("embedded-opentype");
}

@font-face {
    font-family: 'Nikumaru Font';
    src: local("Nikumaru Font"),
        url('../font/Nikumaru\ Font.woff') format("woff"),
        url('../font/Nikumaru\ Font.ttf') format("opentype"),
        url('../font/Nikumaru\ Font.eot') format("embedded-opentype");
}

* {
    box-sizing: border-box;
    font-family: "jf-openhuninn";
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: #FFF5D6;
}

.container {
    max-width: 1920px;
    width: 100%;
    // background-color: #aaa;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#mouse-circle {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: 10px solid #FF9855;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 99;
    //讓滑鼠還是可以按到按鈕
    pointer-events: none;
}

.ham-btn {
    right: 3%;
    top: 5%;
    position: fixed;
    z-index: 9;
    cursor: pointer;

    .checked {
        width: 102px;
        height: 96px;
        display: block;
    }

    .notchecked {
        width: 101px;
        height: 96px;
        display: none;
    }
}

@media (max-width: 1200px) {
    .ham-btn {
        .checked {
            width: 70px;
            height: 65px;
        }

        .notchecked {
            width: 70px;
            height: 65px;
        }
    }
}

@media (max-width: 576px) {
    .ham-btn {
        right: 18px;
        top: 18px;

        .checked {
            width: 60px;
            height: 54px;
        }

        .notchecked {
            width: 60px;
            height: 54px;
        }
    }
}

.list {
    width: 362px;
    height: 1091px;
    background-color: #fff;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 8;
    display: flex;
    justify-content: center;
    transition-duration: 1s;

    .lists {
        margin-top: 260px;
        display: flex;
        flex-direction: column;

        a {
            text-align: center;
            text-decoration: none;
            font-size: 35px;
            color: #000;
            margin-bottom: 100px;
        }

        a:hover {
            color: #FF9855;
        }
    }

}
@media (max-width: 1450px) {
    .list {
        height: 100vh;

        .lists {
            margin-top: 200px;
            a {
                font-size: 30px;
                margin-bottom: 60px;
            }
        }
    }
}
@media (max-width: 1200px) {
    .list {
        height: 100vh;

        .lists {
            margin-top: unset;
            justify-content: center;
            gap: 60px;

            a {
                font-size: 24px;
                margin-bottom: unset;
            }
        }
    }
}
@media (max-width: 576px) {
    .list {
        width: 100%;
    }
}

//漢堡條//
.ham-menu {
    #ham-switch {
        display: none;
    }

    #ham-switch:checked+.ham-btn .checked {
        display: none;
    }

    #ham-switch:not(:checked)+.ham-btn .checked {
        display: block;
    }

    #ham-switch:checked+.ham-btn .notchecked {
        display: block;
    }

    #ham-switch:not(:checked)+.ham-btn .notchecked {
        display: none;
    }

    #ham-switch:checked~.list {
        transform: translateX(0px);
    }

    #ham-switch:not(:checked)~.list {
        transform: translateX(362px);

        @media (max-width: 576px) {
            transform: translateX(100%);
        }
    }

}

#intro {
    width: 100%;
    height: 100vh;
    background-color: #FFF5D6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .title-area {
        position: relative;
        display:none;

        .vector-star {
            width: 160px;
            height: 160px;
            position: absolute;
            left: -12%;
            top: -5%;
            animation: vector 5s infinite;
            z-index: 1;
        }

        .vector-circle {
            width: 125px;
            height: 125px;
            position: absolute;
            right: -5%;
            bottom: -50%;
            animation: vector 5s -2s infinite;
            z-index: 1;
        }

        .title {
            position: relative;
            font-family: "Nikumaru Font";
            font-size: 160px;
            animation: fade-in 4s;
            animation-fill-mode: forwards;
            opacity: 0;
            z-index: 5;
        }
    }

    .subtitle {
        font-size: 28px;
        margin-top: 75px;
        animation: fade-in 4s 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        z-index: 3;
        display:none;
    }

    @keyframes fade-in {
        0% {
            transform: translateY(-80px);
            opacity: 0;
        }

        50% {
            transform: translateY(0px);
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    .cloud {
        width: 100%;
        height: 40%;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-image: url(../picture/cloud.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .arrow-bt,
    .arrow-top {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 50px;
    }

    .arrow-bt {
        bottom: 20px;
        animation: up-down 1s infinite;
    }

    .arrow-top {
        bottom: 50px;
        transform: translate(-50%, -50%) scale(0.8);
        animation: up-down-small 1s infinite;
    }

    @keyframes up-down {
        50% {
            transform: translate(-50%, -40%);
        }
    }

    @keyframes up-down-small {
        50% {
            transform: translate(-50%, -40%) scale(0.8);
        }
    }


    @keyframes vector {
        0% {
            transform: translate(0%, 0%);
        }

        50% {
            transform: translate(0%, -50%);
        }
    }
}

@media (max-width: 1200px) {
    #intro {
        .title-area {
            .vector-star {
                width: 120px;
                height: 120px;
            }

            .vector-circle {
                width: 90px;
                height: 90px;
            }

            .title {
                font-size: 100px;
            }
        }

        .subtitle {
            font-size: 20px;
            margin-top: 30px;
        }

        .arrow-bt,
        .arrow-top {
            width: 48px;
            height: 30px;
        }

        .arrow-bt {
            bottom: 20px;
        }

        .arrow-top {
            bottom: 35px;
        }
    }
}

@media (max-width: 600px) {
    #intro {
        .title-area {
            .vector-star {
                width: 90px;
                height: 90px;
            }

            .vector-circle {
                width: 50px;
                height: 50px;
            }

            .title {
                font-size: 80px;
            }
        }

    }
}

@media (max-width: 576px) {
    #intro {
        .title-area {
            .vector-star {
                width: 60px;
                height: 60px;
            }

            .vector-circle {
                width: 40px;
                height: 40px;
            }

            .title {
                font-size: 48px;
            }
        }

        .subtitle {
            font-size: 16px;
            margin-top: 20px;
        }

        .arrow-bt,
        .arrow-top {
            width: 32px;
            height: 20px;
        }

        .arrow-bt {
            bottom: 10px;
        }

        .arrow-top {
            bottom: 25px;
        }

    }
}

#explore {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;

    .gamebox {
        max-width: 1280px;
        max-height: 720px;
        height: 100%;
        background-color: #aaa;
        position: relative;

        .mask {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(5px);
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;

            .title {
                font-size: 80px;
                position: relative;
                font-weight: bold;

                svg {
                    position: absolute;
                    right: -10%;
                    bottom: -30%;
                }
            }

            .text {
                font-size: 25px;
                text-align: center;
                line-height: 1.2;
            }
        }
        .btn-close{
            width: 60px;
            height: 60px;
            path{
                fill:#88ACFF;
            }
            rect{
                fill:white;
            }
        }
        .btn-close:hover{
            path{
                fill:white;
            }
            rect{
                fill:#88ACFF;
            }
        }

        .mask-none {
            display: none;
        }

        .btn-start {
            margin-top: 10px;
            width: 188px;
            height: 70px;
            border-radius: 60px;
            background-color: #88ACFF;
            line-height: 70px;
            font-size: 28px;
            color: #F7F7F7;
            text-align: center;
            cursor: pointer;
        }
        .btn-start:hover{
            background-color: #000;
            color: #88ACFF;
        }
    }
}

@media (max-width:1200px) {
    #explore{
        .gamebox{
            .mask{
                .title{
                    font-size: 60px;
                }
                .text {
                    font-size: 20px;
                }
                .btn-start{
                    width: 150px;
                    height: 60px;
                    line-height: 60px;
                    margin-top: unset;
                }
            }
        }
    }
    
}

@media (max-width: 600px) {
    #explore{
        .gamebox{
            .mask{
                gap: 20px;
                .title{
                    font-size: 48px;
                    svg{
                        right:-20%;
                        bottom:-60%;
                    }
                }
                .text {
                    font-size: 16px;
                }
                .btn-start{
                    font-size: 20px;
                    width: 120px;
                    height: 40px;
                    line-height: 40px;
                    margin-top: unset;
                }
            }
        }
    }
}

#introduce {
    width: 100%;

    .plan {
        .plan-top {
            width: 100%;
            padding: 100px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            .plan-info {
                margin-right: 120px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .title {
                    font-size: 40px;
                    align-self: flex-start;
                }

                .plan-pic-s {
                    display: none;
                    margin: 36px auto 0px;
                    width: 100%;
                    // width: 280px;
                    // height: 260px;
                    background-image: url(../picture/planpic.png);
                    background-position: 60% center;
                    background-repeat: no-repeat;
                    background-size: 150%;
                }

                .text01 {
                    width: 100%;
                    margin-top: 90px;
                    font-size: 50px;
                    line-height: 1.5;
                }

                .text02 {
                    width: 100%;
                    margin-top: 77px;
                    font-size: 18px;
                    line-height: 1.2;
                }

                .btn-more {
                    padding: 10px 30px;
                    background-color: #88ACFF;
                    border-radius: 60px;
                    margin-top: 80px;
                    font-size: 18px;
                    text-align: center;
                    color: #F7F7F7;
                    cursor: pointer;
                }

                .btn-more:hover {
                    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
                }
            }

            .plan-pic {
                width: 50%;
                min-width: 490px;
                height: 683px;
                background-image: url(../picture/planpic.png);
                background-position: 60% center;
                background-repeat: no-repeat;
                background-size: 150%;
            }
        }
        .plan-bt {
            width: 100%;
            height: 460px;
            background-color: #F7F7F7;
            display: flex;
            justify-content: center;
            align-items: center;

            .content {
                width: 960px;
                height: 291px;
                display: flex;
                justify-content: space-between;

                .card {
                    width: 196px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    .icon {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        background-color: #aaa;
                    }

                    .num {
                        width: 100%;
                        height: 55px;
                        background-color: #ECECEC;
                    }

                    .text {
                        width: 100%;
                        height: 46px;
                        background-color: #ECECEC;
                    }

                }
            }
        }
    }

    @media (max-width: 1330px) {
        .plan {
            .plan-top {
                .plan-info {
                    .title {
                        font-size: 30px;
                    }

                    .text01 {
                        font-size: 40px;
                    }
                }

                .plan-pic {
                    height: 500px;
                    min-width: none;
                }
            }
        }
    }

    @media (max-width: 1200px) {
        .plan {
            .plan-top {
                padding: 60px;

                .plan-info {
                    margin-right: 60px;

                    .title {
                        font-size: 30px;
                        align-self: flex-start;
                    }

                    .text01 {
                        margin-top: 90px;
                        font-size: 30px;
                    }

                    .text02 {
                        margin-top: 77px;
                        font-size: 15px;
                    }
                }

                .plan-pic {
                    height: 400px;
                }

            }
        }
    }

    @media (max-width: 992px) {
        .plan {
            .plan-top {
                padding: 50px 40px;
                justify-content: flex-start;
                .plan-info {
                    margin: unset;

                    .title {
                        font-size: 40px;
                    }

                    width: 80%;

                    .plan-pic-s {
                        margin: unset;
                        width: 100%;
                        max-width: 530px;
                        height: 420px;
                        display: block;
                        transform:translateX(20%);
                    }

                    .text01 {
                        width: 100%;
                        margin-top: unset;
                        line-height: 1.2;
                    }

                    .text02 {
                        margin-top: 20px;
                        line-height: 1.2;
                    }

                    .btn-more {
                        align-self: flex-start;
                        margin-top: 20px;
                    }
                }

                .plan-pic {
                    display: none;
                }
            }
        }
    }
    @media (max-width: 480px){
        .plan{
            .plan-top{
                .plan-info{
                    .title{
                        font-size: 18px;
                    }
                    .text01 {
                        font-size: 25px;
                    }
                    .text02{
                        font-size: 15px;
                    }
                    .btn-more {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    @media (max-width: 375px){
        .plan{
            .plan-top{
                padding: 50px 20px;
            }
        }
    }
}


#introduce .webStory {
    width: 100%;
    height: 3917px;
    background-color: #88ACFF;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12%;

    .storyRoad-straight {
        display: none;
    }

    .storyRoad {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
    }

    .card-m {
        display: flex;
        justify-content: center;
        gap: 45px;

        .model-pic {
            width: 345px;
            height: 345px;

            img {
                width: 100%;
                height: 100%;
            }
        }
        .text-short{
            display: none;
        }
        .text-area {
            color: #F7F7F7;
            text-align: left;
            letter-spacing: 1px;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                font-size: 40px;
                font-weight: bold;
            }

            p {
                width: 100%;
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 1750px) {
    #introduce .webStory {
        width: 100%;

        .storyRoad {
            width: 95%;
        }
    }
}

@media (max-width: 1300px) {
    #introduce .webStory {
        gap: 15%;
        padding: 0px 180px;

        .card-m {
            display: flex;
            justify-content: center;
            gap: 30px;

            .model-pic {
                width: 250px;
                height: 250px;
                min-width: 250px;
                min-height: 250px;
            }

            .text-area {
                line-height: 1.2;

                .title {
                    font-size: 30px;
                }

                p {
                    width: 100%;
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    #introduce .webStory {
        gap: 5%;
        height: 1300px;

        .storyRoad {
            display: none;
        }

        .card-m {
            justify-content: center;

            .text-area {
                height: 200px;
            }

            .text-area.order {
                order: 2;
            }
        }

        .storyRoad-straight {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 7%;
            height: 100%;
            transform: translateX(-50%);
            stroke-width: 80px;
        }
    }
}
@media (max-width: 992px){
    #introduce .webStory {
        padding: 0px 80px;
        .storyRoad-straight {
            left: 5%;
            stroke-width: 50px;
        }
    }
}
@media (max-width: 768px){
    #introduce .webStory {
        .card-m{
            .model-pic {
                width: 200px;
                height:200px;
                min-width: 200px;
                min-height: 200px;
            }
            .text-area{
                .title{
                    font-size: 36px;
                }
                p{
                    display: none;
                }
                .text-short{
                    display: block;
                    font-size: 18px;
                    margin: 18px 0px;
                }
            }
        }
        .storyRoad-straight {
            left: 6%;
        }
    }
}
@media (max-width: 576px){
    #introduce .webStory {
        padding: 0px 60px;
        .card-m {
            gap: 20px;
            .text-area{
                .title{
                    font-size: 24px;
                }
            }
            .model-pic {
                width: 150px;
                height:150px;
                min-width: 150px;
                min-height: 150px;
            }
        }
        .storyRoad-straight{
            left:6%;
            stroke-width: 40px;
        }
    }
}

@media (max-width: 480px){
    #introduce .webStory {
        height: 800px;
        padding: 0px 40px;
        gap:10%;
        .card-m{
            margin-left: 20px;
            gap: 10px;
            .model-pic {
                width: 100px;
                height:100px;
                min-width: 100px;
                min-height: 100px;
            }
            .text-area{
                height: 100px;
                .title{
                    font-size: 18px;
                }
                .text-short{
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 375px){
    #introduce .webStory {
        .card-m{
            .model-pic {
                width: 80px;
                height:80px;
                min-width: 80px;
                min-height: 80px;
            }
            .text-area{
                height: 80px;
            }
        }
    }
}



#aboutUs {
    width: 100%;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px;

    .title {
        font-size: 40px;
    }

    .cards-team {
        margin-top: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 200px;

        .card {
            width: 200px;
            height: 315px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .pic {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background-color: #FF7B83;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .pic-1 {
                background-color: #6A6A6A;
            }
            .pic-2 {
                background-color: #8AB3F1;
            }
            .pic-3 {
                background-color: #D3CCFF;
            }

            .name {
                font-size: 25px;
            }

            .skill {
                font-size: 18px;
            }

            .btn-aboutme {
                font-size: 15px;
                border-radius: 20px;
                padding: 8px 13px;
                background-color: #88ACFF;
                color: #F7F7F7;
                cursor: pointer;
                text-decoration: none;
            }

            .btn-aboutme:hover {
                box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
            }
        }
    }
}
@media (max-width:1600px) {
    #aboutUs{
        .cards-team {
            gap: 100px;
        }
    }
}
@media (max-width:1200px) {
    #aboutUs{
        .cards-team {
            margin-top: 100px;
            gap: 60px;
        }
    }
}

@media (max-width:992px) {
    #aboutUs{
        .title{
            align-self: flex-start;
        }
    }
}

@media (max-width:680px) {
    #aboutUs{
        padding: 80px 40px;
        .cards-team {
            margin-top: 100px;
            gap: 20px;
        }
    }
}
@media (max-width:576px) {
    #aboutUs{
        padding: 50px 20px;
        .cards-team {
            margin-top: 80px;
            gap: 20px;
        }
    }
}
@media (max-width:480px){
    #aboutUs{
        padding: 50px 30px;
        .title{
            align-self: flex-start;
            font-size: 18px;
        }
        .cards-team {
            margin-top: 50px;
            gap: 45px;
    
            .card {
                width: 120px;
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
    
                .pic {
                    width: 100px;
                    height: 100px;
                }
    
                .name {
                    font-size: 12px;
                }
    
                .skill {
                    font-size: 10px;
                }
    
                .btn-aboutme {
                    font-size: 10px;
                    border-radius: 20px;
                    padding: 5px 8px;
                }
            }
        }
    }
}
@media (max-width:375px){
    #aboutUs{
        padding: 50px 20px;
        .cards-team {
            gap: 45px;
    
            .card {
                width: 100px;
                height: 160px;
            }
        }
    }
}

#message {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px;
    position: relative;

    .title {
        font-size: 40px;
    }

    .board {
        width: 100%;
        height: 500px;
        margin-top: 60px;
        background-color: #fff;
        overflow: hidden;
        display:flex;
        iframe{
            width: 100%;
            height: 100%;
        }
    }

}

@media (max-width:992px){
    #message{
        .title{
            align-self: flex-start;
        }
    }
}

@media (max-width:680px){
    #message{
        padding: 60px 40px;
    }
}
@media (max-width:480px){
    #message{
        .title{
            font-size: 18px;
        }
        .board{
            margin-top: 50px;
        }
    }
}

@media (max-width:400px){
    #message{
        padding: 60px 20px;
    }
}

.totop {
    background-color: #FF9855;
    position: fixed;
    right: 3%;
    bottom: 3%;
    z-index: 7;
    text-align: center;
    border-radius: 40px;
    color: #F7F7F7;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;

    svg {
        fill: #F7F7F7;
    }
}

.totop:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    background-color: #F7F7F7;
    color: #FF9855;

    svg {
        fill: #FF9855;
    }
}
@media (max-width:768px) {
    .totop{
        font-size: 24px;
    }
}
@media (max-width:576px) {
    .totop{
        font-size: 18px;
        padding: 5px 10px;
        svg {
            width: 15px;
            height: 15px;
        }
    }
}

#footer {
    width: 100%;
    height: 113px;
    background-color: #FFF5D6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .btn-link {
        font-size: 18px;
        color: #000;
        text-decoration: none;
    }

    .btn-link:hover {
        color: #FF9855;
    }
}
@media (max-width:1200px) {
    #footer {
        width: 100%;
        height: unset;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        padding: 50px 100px;
    
        .btn-link {
            padding: 20px;
        }
    }
}
@media (max-width:680px){
    #footer {
        padding: 50px 40px;
    }
}