@charset "UTF-8";
@font-face {
  font-family: "jf-openhuninn";
  src: local("jf-openhuninn"), url("../font/jf-openhuninn-2.0.woff") format("woff"), url("../font/jf-openhuninn-2.0.ttf") format("opentype"), url("../font/jf-openhuninn-2.0.eot") format("embedded-opentype");
}
@font-face {
  font-family: "Nikumaru Font";
  src: local("Nikumaru Font"), url("../font/Nikumaru Font.woff") format("woff"), url("../font/Nikumaru Font.ttf") format("opentype"), url("../font/Nikumaru Font.eot") format("embedded-opentype");
}
* {
  box-sizing: border-box;
  font-family: "jf-openhuninn";
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  width: 1920px;
  position: relative;
}

.ham-btn {
  width: 110px;
  height: 110px;
  right: 55px;
  top: 52px;
  position: fixed;
  z-index: 9;
  cursor: pointer;
}
.ham-btn .checked {
  display: block;
}
.ham-btn .notchecked {
  display: none;
}

.list {
  width: 436px;
  height: 1091px;
  background-color: #fff;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 8;
  display: flex;
  justify-content: center;
  transition-duration: 1s;
}
.list .lists {
  margin-top: 260px;
  display: flex;
  flex-direction: column;
}
.list .lists a {
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  color: #000;
  margin-bottom: 100px;
}
.list .lists a:hover {
  color: #FF9855;
}

.ham-menu #ham-switch {
  display: none;
}
.ham-menu #ham-switch:checked + .ham-btn .checked {
  display: none;
}
.ham-menu #ham-switch:not(:checked) + .ham-btn .checked {
  display: block;
}
.ham-menu #ham-switch:checked + .ham-btn .notchecked {
  display: block;
}
.ham-menu #ham-switch:not(:checked) + .ham-btn .notchecked {
  display: none;
}
.ham-menu #ham-switch:checked ~ .list {
  transform: translateX(0px);
}
.ham-menu #ham-switch:not(:checked) ~ .list {
  transform: translateX(436px);
}

#intro {
  width: 100%;
  height: 1090px;
  background-color: #FFF5D6;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 396px 0px;
  position: relative;
}
#intro .title {
  font-family: "Nikumaru Font";
  font-size: 160px;
}
#intro .subtitle {
  font-size: 28px;
  margin-top: 75px;
}
#intro .cloud {
  width: 100%;
  height: 367px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../picture/白雲.png);
  background-position: center center;
}
#intro svg {
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%, -50%);
}

#explore {
  width: 100%;
  height: 920px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#explore .gamebox {
  width: 1280px;
  height: 720px;
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}
#explore .gamebox .btn-start {
  width: 188px;
  height: 70px;
  border-radius: 60px;
  background-color: #88ACFF;
  cursor: pointer;
}

#introduce {
  width: 100%;
}
#introduce .plan .plan-top {
  width: 100%;
  height: 920px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#introduce .plan .plan-top .plan-info {
  margin-right: 120px;
  width: 720px;
  height: 574px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#introduce .plan .plan-top .plan-info .title {
  font-size: 40px;
  align-self: flex-start;
}
#introduce .plan .plan-top .plan-info .text {
  width: 600px;
}
#introduce .plan .plan-top .plan-info .text01 {
  margin-top: 90px;
  font-size: 50px;
}
#introduce .plan .plan-top .plan-info .text02 {
  margin-top: 77px;
  font-size: 18px;
}
#introduce .plan .plan-top .plan-info .btn-more {
  width: 145px;
  height: 40px;
  background-color: #88ACFF;
  border-radius: 60px;
  margin-top: 80px;
  padding: 10px 40px;
  font-size: 15px;
  cursor: pointer;
}
#introduce .plan .plan-top .plan-pic {
  width: 841px;
  height: 574px;
  background-color: #aaa;
}
#introduce .plan .plan-bt {
  width: 100%;
  height: 460px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
#introduce .plan .plan-bt .content {
  width: 960px;
  height: 291px;
  display: flex;
  justify-content: space-between;
}
#introduce .plan .plan-bt .content .card {
  width: 196px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#introduce .plan .plan-bt .content .card .icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #aaa;
}
#introduce .plan .plan-bt .content .card .num {
  width: 100%;
  height: 55px;
  background-color: #ECECEC;
}
#introduce .plan .plan-bt .content .card .text {
  width: 100%;
  height: 46px;
  background-color: #ECECEC;
}
#introduce .webStory {
  width: 100%;
  height: 3917px;
  background-color: #88ACFF;
  position: relative;
}
#introduce .webStory .storyRoad {
  position: absolute;
  top: 0;
  left: 85px;
}
#introduce .webStory .storyRoad .ball {
  fill: white;
  visibility: hidden;
}

#introduce .webStory {
  width: 100%;
  height: 3917px;
  background-color: #88ACFF;
  position: relative;
  padding: 577px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#introduce .webStory .card-m {
  width: 1104px;
  height: 345px;
  display: flex;
  justify-content: space-between;
}
#introduce .webStory .card-m .model-pic {
  width: 345px;
  height: 345px;
  background-color: #aaa;
}
#introduce .webStory .card-m .text-area {
  color: #F7F7F7;
}
#introduce .webStory .card-m .text-area .title {
  font-size: 40px;
}
#introduce .webStory .card-m .text-area p {
  margin-top: 77px;
  width: 700px;
  font-size: 25px;
}
#introduce .webStory .card-m #concept-text, #introduce .webStory .card-m #design-text, #introduce .webStory .card-m #code-text, #introduce .webStory .card-m #model-text {
  visibility: hidden;
}

#aboutUs {
  width: 100%;
  height: 692px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
}
#aboutUs .title {
  font-size: 40px;
}
#aboutUs .cards-team {
  margin-top: 133px;
  width: 1378px;
  height: 315px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#aboutUs .cards-team .card {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#aboutUs .cards-team .card .pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #aaa;
}
#aboutUs .cards-team .card .name {
  font-size: 25px;
}
#aboutUs .cards-team .card .skill {
  font-size: 18px;
}
#aboutUs .cards-team .card .btn-aboutme {
  font-size: 15px;
  border-radius: 20px;
  padding: 8px 13px;
  background-color: #88ACFF;
  color: #F7F7F7;
}

#message {
  width: 100%;
  height: 807px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
}
#message .title {
  font-size: 40px;
}
#message .board {
  margin-top: 60px;
  width: 905px;
  height: 562px;
  background-color: #fff;
  overflow: hidden;
}

.totop {
  background-color: #FF9855;
  width: 190px;
  position: sticky;
  float: right;
  bottom: 35px;
  z-index: 7;
  text-align: center;
  border-radius: 40px;
  color: #F7F7F7;
  font-size: 28px;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: none;
}

#footer {
  width: 100%;
  height: 113px;
  background-color: #FFF5D6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
#footer .btn-link {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
#footer .btn-link:hover {
  color: #FF9855;
}/*# sourceMappingURL=index.css.map */